<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center"></div>
</ons-toolbar>

<ons-carousel swipeable style="margin-top: 5px; height: 70px;" overscrollable auto-scroll item-width="70px">
  <ons-carousel-item ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
    <div style="background-color: #ccc; width: 60px; height: 60px; margin: 5px; border-radius: 6px;"></div>
  </ons-carousel-item>
</ons-carousel>

<ons-carousel swipeable style="height: 70px;" overscrollable auto-scroll item-width="70px">
  <ons-carousel-item ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
    <div style="background-color: #ddd; width: 60px; height: 60px; margin: 5px; border-radius: 6px;"></div>
  </ons-carousel-item>
</ons-carousel>

<ons-carousel swipeable style="height: 70px;" overscrollable auto-scroll item-width="70px">
  <ons-carousel-item ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
    <div style="background-color: #ccc; width: 60px; height: 60px; margin: 5px; border-radius: 6px;"></div>
  </ons-carousel-item>
</ons-carousel>

<ons-carousel swipeable style="height: 70px;" overscrollable auto-scroll item-width="70px">
  <ons-carousel-item ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
    <div style="background-color: #ddd; width: 60px; height: 60px; margin: 5px; border-radius: 6px;"></div>
  </ons-carousel-item>
</ons-carousel>
